.footer {
height: 60px;
background: #EDF0F5;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.footer span {
    color: #415167;
font-size: 16px;
font-style: italic;
font-weight: 300;
}